header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 1rem 2rem;
  height: 80px;
  position: sticky;
  top: 0;
  box-shadow: 0 0px 20px -5px #00000066;
  z-index: 1000;
}

header .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 220rem;
}

header .container h1.logo_h1 {
  font-size: var(--fs-xl);
  font-weight: 800;
  letter-spacing: 0.8rem;
}

header .container nav {
  width: 40%;
}

header .container nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 1rem;
  gap: 2rem;
}

header .container nav ul li a {
  font-size: var(--fs-md);
  font-weight: 500;
  color: var(--secondary-color);
  transition: 0.6s;
}
header .container nav ul li a:hover {
  opacity: 0.8;
  padding-inline: 1rem;
}

main {
  display: grid;
  place-items: center;
  background: var(--primary-color);
  padding: 4rem 2rem;
  min-height: 100vh;
  row-gap: 6rem;
}

main section {
  display: grid;
  place-items: center;
  max-width: 80%;
  width: 100%;
}

main section:first-of-type {
  margin-top: 5rem;
}

main section .header {
  display: grid;
  place-items: center;
  background: #00030699;
  color: var(--secondary-color);
  border-radius: 0.6rem;
  padding: 0.6rem 2rem;
  text-align: center;
  box-shadow: 0 12px 17px -4px #0000009c;
}

main section .body {
  display: grid;
}

main section .body img {
  width: 100%;
  max-width: 100rem;
  place-self: center;
}

main section .body article {
  display: grid;
  place-items: center;
  background: #00030638;
  color: var(--secondary-color);
  border-radius: 0.6rem;
  padding: 0.6rem 2rem;
  width: 100%;
  text-align: center;
}

main section .body article h1 {
  font-size: var(--fs-lg);
  font-weight: 800;
  letter-spacing: 0.8rem;
  margin-bottom: 1rem;
}

main section .body article p {
  font-size: var(--fs-md);
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
}

main section .body:not(:has(> img)) {
  margin-top: 4rem;
}

@media (max-width: 720px) {
  header .container {
    justify-content: center;
  }

  header .container .logo_h1 {
    display: none;
  }

  header .container nav {
    width: 100%;
  }

  p {
    line-break: anywhere;
  }
}

@media (max-width: 420px) {
  html {
    font-size: 50%;
  }

  main {
    padding: 2rem 1rem;
  }

  main section {
    max-width: 95%;
  }
}
